name: Java CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Validate, build and run tests
        run: mvn --batch-mode --update-snapshots verify -f pom.xml

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: BuildingInfo-JAR
          path: target/*.jar
          retention-days: 5
